<!-- Button trigger modal -->
<button class="btn btn-primary" id="model_button" data-toggle="modal" data-target="#myModal<%= product.id %> ">
  Details
</button>

<!-- Modal -->
<div class="modal fade" id="myModal<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="enlarge-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title lead" id="myModalLabel"><%= product.title %></h4>
      </div>
      <div class="modal-body">

        <p id="notice" class="lead"><%= notice %></p>

        <div class="product_left_panel">
          <p>
            <%= image_tag product.image_url, :class => 'img-responsive' %>
          </p>
        </div>

        <div class="product_right_panel" data-productID="<%= product.id %>">
          
          <% if user_signed_in? %>
            <%= form_tag("/order_products", method: "post") do %>
              <%= select_tag "quantity", options_for_select((1..100).step(1)), :class => 'form-control' %>
              <%= hidden_field_tag 'product_id', product.id %>
              <%= submit_tag "Add to Cart", :class => "btn btn-success btn-block addToCart" %>
            <% end %>

            <% if current_user.admin? %>
              <%= link_to 'Edit', edit_product_path(product) %>
            <% end %>
          <% end %>

          <p>
            <strong>Description:</strong>
            <%= product.description %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= number_to_currency product.price %> AUD
          </p>

          <p>
            <strong>Stock:</strong>
            <%= product.stock %>
          </p>

        </div>

      </div>
    </div>
  </div>
</div> <!-- end of modal -->