
<div class="allProducts_container">
  <% @products.each do |product| %>
    <div class="indi_product">
      <p><%= link_to product.title, product %></p>
      <%= link_to (image_tag product.image_url), product %>
      <p>Description: <%= product.description %></p>
      <p>Price: <%= number_to_currency product.price %> AUD</p>
      <p>Stock: <%= product.stock %></p>
    </div>
  <% end %>
</div>