
<div class="allProducts_container">
  <% @products.each do |product| %>
    <div class="indi_product">
      <%= image_tag product.image_url %>
      <p>Description: <%= product.description %></p>
      <p>Price: <%= number_to_currency product.price %> AUD</p>
      <p>Stock: <%= product.stock %></p>
      <%= render :partial => 'product_info', :locals => {product:product} %>
    </div>
  <% end %>
</div>
