<p id="notice"><%= notice %></p>

<div class="product_left_panel">
  <%= link_to 'Back', products_path %>

  <p>
    <%= @product.title %>
  </p>

  <p>
    <%= image_tag @product.image_url %>
  </p>
</div>

<div class="product_right_panel">

  <% if user_signed_in? %>
    <%= form_tag("/order_products", method: "post") do %>
      <%= number_field_tag 'quantity', nil, in: 1...99, :required => 'true', :class => 'form-control' %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <%= submit_tag "Add to Cart", :class => "btn btn-success btn-block" %>
    <% end %>

    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_product_path(@product) %>
    <% end %>
  <% end %>


  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency @product.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= @product.stock %>
  </p>

</div>

