<!DOCTYPE html>
<html>
<head>
  <title>Marketplac</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stripe_javascript_tag %>
  <%= csrf_meta_tags %>
</head>

<span id="header"></span>

<header>
  <!-- Bootstrap nav bar start here -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand colorize" href="/">Marketplac</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Keyword">
          </div>
          <button type="submit" class="btn btn-info">Search</button>
        </form>
        <ul class="nav navbar-nav">
          <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="flash_msg disabled notice alert"><%= notice %><%= alert %></a></li>
          <% if user_signed_in? %>
            <li><%= link_to current_user.username, root_path, :class => 'disabled colorize' %></li>
            <li><%= link_to 'Setting', edit_user_registration_path %></li>
            <li><%= link_to 'Cart', order_products_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete', data: { confirm: 'Are you sure?' } %></li>

            <% if current_user.admin? %>
              <li><%= link_to "Add Product", new_product_path %></li>
            <% end %>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- Bootstrap nav bar ending -->
</header>

<body>
  <div class="site_container">

    <!-- Yield Container -->
    <div class="yield_container">
      <%= yield %>
    </div>
    <!-- End of Yield Container -->

  </div> <!-- End of site_container div -->

<!-- For the About's modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content about-container">
      <h2 class="text-center lead"><b>About</b></h2>
      <img class="about-img" src="/images/WDI4.jpg" alt="">
      <p class="lead about-content">Sharknado 2 you go Glenn Coco he's fucking my sister I judge you all so hard let's have morning tea now I'll give you my front-end mojo if you give me your back-end mojo kitkat chunky cookies and cream Coffee?! relationships your morning exercise is on HipChat yeah man Did you just call me fat?! How you doin infinite loop Chico bad hair day predictor let's have a mating party I'll send you the link on HipChat I'm a genius BEERS apparently I smell like snails have the best time seriously GA Harpo it's twelve o'clock I would be God.. It would be party in heaven i love guns Did you send me your homework guys? is it beer o'clock yet? I fucking hate the BeeGees butterflies craigsy Avalanche sharks more styling mkdir don't forget to pull before you push WDI gang sign the beer fridge is locked fart baguette debugging ukuleles cool beans oreo cupcake jonesy I hate suits Groucho What's the symbol for a symbol? Idiots.gif Have you seen my face? Do I have a face? blurb I'm gonna touch a file I love styling in theory come on Bessy see you along! computers!.</p>
    </div>
  </div>
</div> <!-- End the About's modal -->

</body>

</html>
